<nav class="tab-bar">
  <div class="tab fd-popover" (mouseover)="showMenu = true" (mouseleave)="showMenu = false">
      <i class="fas fa-bars"></i>
      <a class="fd-popover__control">Kategorije</a>
      <div class="fd-popover__body dropdown-menu" *ngIf="showMenu" (mouseover)="showMenu = true" (mouseleave)="showMenu = false">
          <app-submenu></app-submenu>
      </div>
  </div>
  <div class="tab-bar">
    <div *ngFor="let glavnaGrupa of glavneGrupe" class="tab" (click)="onTabClick('brendovi')">
      <span>{{ glavnaGrupa }}</span>
    </div>
  </div>

</nav>
