.tab-bar {
  display: flex; /* Sve stavke u jednom redu */
  align-items: center; /* Vertikalno poravnanje */
  justify-content: flex-start; /* Poravnanje na levo */
  padding: 0px 10px; /* Gornji i donji razmak */
  font-size: 13px; /* Manja veličina slova */
}

.tab {
  display: flex;
  align-items: center; /* Centriranje teksta */
  padding-block: 15px ; /* Horizontalni razmak */
  color: inherit; /* Boja teksta ostaje iz glavnog stila */
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap; /* Sprečava prelamanje teksta */
}

.tab:last-child {
  border-right: none; /* Uklanja liniju sa poslednjeg taba */
}

.tab span {
  text-transform: capitalize; /* Prvo slovo veliko, opcionalno */
  font-size: 13px; /* Manja slova */
  padding-inline: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Linija između tabova */
}

.tab i {
  margin-right: 5px;
}

.bosch-text {
  color: red; /* Crvena boja za tekst BOSCH */
  font-weight: bold;
}

.dropdown-menu {
  top: 45px;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  color: #212121; /* Tamno siva boja za tekst */
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: #f0f2f5; /* Svetlo siva pozadina pri hoveru */
}
/* Glavni tab-bar */
.tab-bar {
  display: flex;
  color: white;
  position: relative;
}

/* Tabovi */
.tab {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.tab:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}


.dropdown-menu {
  position: fixed;
  top: 116px;
  left: 50%;
  transform: translateX(-50%); /* Pomera dropdown za polovinu svoje širine u levo */
  width: 90vw; /* Širina kao što si želeo */
  max-height: 600px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
}

