<nav >
  <div class="tab-bar">
    <div class="tab" (mouseover)="showMenu = true" (mouseleave)="showMenu = false">
      <i class="fas fa-bars"></i>
      <span class="">Kategorije</span>
      <div class="dropdown-menu" *ngIf="showMenu" (mouseover)="showMenu = true" (mouseleave)="showMenu = false">
        <app-submenu></app-submenu>
      </div>
    </div>

    <div *ngFor="let glavnaGrupa of glavneGrupe; let i = index"
         class="tab"
         (mouseover)="onMouseEnter(i)"
         (mouseleave)="onMouseLeave()"
         (click)="onTabClick(glavnaGrupa)">
      <span>{{ glavnaGrupa }}</span>

      <!-- Prikaz SubmenuComponent samo za hoverovani tab -->
      <div class="dropdown-menu" *ngIf="hoveredIndex === i">
        <app-submenu [menuItems]="submenuData[glavnaGrupa]"></app-submenu>
      </div>
    </div>
  </div>
</nav>
