<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Informacije</h3>
      <ul>
        <li><a href="#">Načini plaćanja</a></li>
        <li><a href="#">Reklamacije</a></li>
        <li><a [routerLink]="['/aboutTehnoZona']">O nama</a></li>
        <li><a href="#">Opšti uslovi poslovanja</a></li>
        <li><a href="#">Uslovi kupovine</a></li>
        <li><a href="#">Politika privatnosti</a></li>
        <li><a href="#">Dostava</a></li>
        <li><a href="#">Specijalne ponude</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Moj Nalog</h3>
      <ul>
        <li><a href="#">Brendovi</a></li>
        <li><a href="#">Lista želja</a></li>
        <li><a href="#">Kontaktirajte nas</a></li>
        <li><a href="#">Povraćaj</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      Sve cene na ovom sajtu iskazane su u dinarima. PDV je uračunat u cenu. Tehnozona VDK DOO se trudi da opisi,
      fotografije i cene budu što tačniji i kompletniji, ali ne može da garantuje da su svi podaci apsolutno ispravni.
      Cene su informativnog karaktera. Prodavac ne odgovara za tačnost cena iskazanih na sajtu, zadržava pravo izmena cena.
      Ponudu za ostale artikle, informacije o stanju lagera i aktuelnim cenama možete dobiti na upit. Plaćanje se vrši
      pouzećem kuriru ili virmanom - bezgotovinski. Tehnozona © 2024 Sva prava zadržana. - Izrada internet prodavnice - Tehnozona VDK d.o.o
    </p>
  </div>
</footer>
