<div class="product-details-container">
  <!-- Leva kolona za slike proizvoda -->
  <div class="product-image-gallery">
    <div class="main-image">
      <img [src]="mainImage" alt="Product Image" />
      <button
        *ngIf="product.slike.length > 1"
        class="arrow left"
        (click)="previousImage()">&#10094;
      </button>
      <button
        *ngIf="product.slike.length > 1"
        class="arrow right"
        (click)="nextImage()">&#10095;
      </button>
    </div>
    <div
      class="thumbnail-gallery"
      *ngIf="product.slike.length > 1">
      <img *ngFor="let image of product.slike; let i = index"
           [src]="image"
           (click)="changeMainImage(image); currentImageIndex = i"
           [class.active]="mainImage === image"
           alt="Thumbnail" />
    </div>
  </div>


  <!-- Desna kolona za detalje o proizvodu -->
  <div class="product-info">
    <p class="product-code">Šifra artikla: {{ product.sifra }}</p>
    <h1 class="product-title">{{ product.naziv }}</h1>
    <a href="#" class="review-link">Budi prvi koji će napisati recenziju</a>
    <div class="discount" *ngIf="product.flagAkcijskaCena">
      <span class="old-price">{{ product.mpcena | currency:'RSD' }}</span>
      <span class="discount-percentage">-{{ ((product.mpcena - product.b2bcena) / product.mpcena * 100) | number:'1.0-0' }}%</span>
      <span class="discount-amount">Ušteda {{ product.mpcena - product.b2bcena | currency:'RSD' }}</span>
    </div>
    <div class="current-price">{{ product.b2bcena | currency:'RSD' }}</div>
    <p class="sale-notice">
      Cena sa popustom važi samo za online kupovinu i gotovinsko plaćanje.
    </p>
    <div class="product-description" [innerHTML]="sanitizedDescription"></div>
    <div class="availability">
      <p class="availability-text"><span class="dot"></span> {{ product.kolicina }}</p>
    </div>
    <button class="add-to-cart-button">Dodaj proizvod u korpu</button>
  </div>
</div>
