<header class="header" >
  <div class="logo" [routerLink]="['/']">
    <img src="assets/logocrni.png" alt="Logo" />
  </div>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Pretraga..."
      (keydown)="onKeydown($event)"
    />
    <span class="search-icon" (click)="onSearch()">
    <i class="fas fa-search"></i>
  </span>
  </div>

  <div class="actions">
    <div *ngIf="false" class="action-item" [routerLink]="['/auth']">
      <i class="fas fa-user"></i>
      <span>Prijava</span>
    </div>
    <div class="action-item cart-icon" [routerLink]="['/cart']">
      <i class="fas fa-shopping-cart"></i>
      <span>Korpa</span>
      <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </div>
  </div>
</header>
