/* Header Styles */
.header {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #000; /* Black text color */
  z-index: 1000;
  height: 50px;
}

/* Show header when not hidden */
.header:not(.hidden) {
  transform: translateY(0);
}

/* Hide header when scrolling down or stationary */
.hidden {
  transform: translateY(-100%);
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 130px;
  width: 140px;
  position: relative;
  top: 10px;
}

/* Search Bar Styles */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  cursor: text !important;
}

.search-bar input {
  padding: 8px 12px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #d1d3e2;
  outline: none;
  border-right: none;
  width: 400px;
}

.search-icon {
  background-color: #183c5c; /* Blue background for button */
  color: white;
  padding: 8px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #183c5c;
}

/* Actions Styles */
.actions {
  display: flex;
  gap: 15px; /* Space between items */
  margin-right: 40px;
  color: white;
  height: 50px;
}

.action-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-item i {
  margin-right: 5px; /* Space between icon and text */
}

/* Add padding to body to prevent content overlap */
body {
  padding-top: 70px; /* Adjust based on header height */
}

.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -7px;
  right: 43px;
  background-color: red;
  color: white;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid white;
}
@media (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 10px 16px;
  }

  /* grupiši logo i korpu u isti red */
  .header {
    display: grid;
    grid-template-areas:
      "logo actions"
      "search search";
    grid-template-columns: 1fr auto;
    height: 94px;
  }

  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
  }

  .actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search-bar {
    grid-area: search;
    width: 100%;
  }

  .search-bar input {
    width: 75%;
  }

  .logo img {
    height: 60px;
    width: auto;
    top: 0;
  }
}
