<div class="category-page-container">
  <h1 class="category-title">{{ title }}</h1>
  <ng-container *ngIf="searchFilter">
    <h1 class="category-title">Rezultat pretrage: "{{ searchFilter }}"</h1>
  </ng-container>
  <div class="breadcrumb">
    <ng-container *ngIf="glavnaGrupa">
      <a [routerLink]="['/', glavnaGrupa]" class="breadcrumb-link">{{ utilService.formatirajNaziv(glavnaGrupa) }}</a>
    </ng-container>

    <ng-container *ngIf="nadgrupa">
      <span class="breadcrumb-separator"> &gt; </span>
      <a [routerLink]="['/', glavnaGrupa, nadgrupa]" class="breadcrumb-link">{{ utilService.formatirajNaziv(nadgrupa) }}</a>
    </ng-container>

    <ng-container *ngIf="grupa">
      <span class="breadcrumb-separator"> &gt; </span>
      <span class="breadcrumb-current">{{ utilService.formatirajNaziv(grupa) }}</span>
    </ng-container>
  </div>

  <div *ngIf="glavnaGrupa && !nadgrupa" class="sub-category-row">
    <div *ngFor="let subCategory of subCategories" class="sub-category-card">
      <div [routerLink]="['/', glavnaGrupa, subCategory.name]">
        <img
          [src]="subCategory.imgUrl"
          [alt]="subCategory.name"
          (error)="onImageError($event)"
        />
        <p>{{ subCategory.name }}</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <app-loading-overlay [isLoading]="isLoading"></app-loading-overlay>

    <div class="sidebar">
      <div class="filters-container">
        <div class="slider-container">
          <label>Cena:</label>
          <div class="slider-values">
            <span>{{ minValue }} din.</span>
            <span>{{ maxValue }} din.</span>
          </div>

          <div class="slider">
            <input type="range" [min]="initialMinValue" [max]="initialMaxValue" step="1" [(ngModel)]="minValue" (input)="updateSlider()">
            <input type="range" [min]="initialMinValue" [max]="initialMaxValue" step="1" [(ngModel)]="maxValue" (input)="updateSlider()">
          </div>
        </div>

        <div class="filter-category" *ngFor="let category of filterCategories">
          <h3>{{ category.category }}</h3>

          <div class="filter-item" *ngFor="let type of (isExpanded(category.category) ? category.types : category.types.slice(0, 10))">
            <label>
              <input
                type="checkbox"
                [value]="type.name"
                (change)="onTypeChange(category.category, type.name, $event.target.checked)"
              >
              {{ type.name }} <span>({{ type.quantity }})</span>
            </label>
          </div>

          <button *ngIf="category.types.length > 10" (click)="toggleCategory(category.category)" class="show-more-btn">
            {{ isExpanded(category.category) ? 'Prikaži manje' : 'Prikaži više (' + (category.types.length - 10) + ')' }}
          </button>
        </div>
      </div>
    </div>

    <div class="product-grid">
      <app-productcard *ngFor="let product of products" [product]="product"></app-productcard>
    </div>
  </div>
</div>
