<div class="product-card">
  <div style="cursor:pointer;" [routerLink]="['/product', product.sifra]" (click)="setCurrentProduct(product)">
    <img
      [src]="product.slike[0]"
      (error)="onImageError($event)"
      class="product-image"
    />

    <div class="product-details" >
      <h3 title="{{product.naziv}}" class="product-name">{{ product.naziv }}</h3>
      <p class="product-price">{{ product.b2bcena | currency: 'RSD' }}</p>
    </div>
  </div>
    <button (click)="addToCart(product)" class="add-to-cart">Dodaj u korpu</button>
</div>
<div *ngIf="showPopup" class="popup-toast">
  Proizvod je dodat u korpu!
</div>
