<div class="product-card">
  <div class="product-link" [routerLink]="['/product', product.barkod]" (click)="setCurrentProduct(product)">
    <div class="product-img-wrapper">
      <img [src]="product.slike && product.slike.length > 0 ? product.slike[0] : 'assets/noImageAvailable.jpg'"
        (error)="onImageError($event)" class="product-image" />
      <span class="vendor-dot" *ngIf="product.vendorId" [title]="getVendorName(product.vendorId)"
        [attr.data-vendor]="product.vendorId">
      </span>
    </div>

    <div class="product-details">
      <h3 title="{{product.naziv}}" class="product-name">{{ product.naziv }}</h3>
      <p class="product-price">{{ product.mpcena | currency: 'RSD':'':'1.2-2' }} <span class="currency">RSD</span></p>
    </div>
  </div>
  <button (click)="addToCart(product)" class="add-to-cart">Dodaj u korpu</button>
</div>