<div class="about-container">
  <h1>O nama</h1>

  <p>
    Tehno Zona je nastala iz želje da kupovinu bele tehnike i elektronike učinimo lakšom, sigurnijom i prijatnijom.
    Kod nas ne kupujete samo uređaje – kupujete sigurnost, podršku i iskreno zalaganje da bi dobili ono što je Vam zaista potrebno.
  </p>

  <p>
    Nismo samo još jedna prodavnica. Naš cilj je da svakom kupcu pružimo osećaj sigurnosti i poverenja.
    Znamo koliko je važno napraviti pravi izbor za svoj dom ili posao, zato pažljivo biramo svaki proizvod koji nudimo.
  </p>

  <p>
    Tehno Zona je nastala iz želje da spojimo kvalitet, odgovorno poslovanje i prijateljski pristup.<br>
    <strong>Kupujte odgovorno. Kupujte sa nama.</strong>
  </p>
</div>
